In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('day.csv')
df_train.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [4]:
y_train = df_train['cnt'].values
X_train = df_train.loc[:, 'season':'windspeed'].values

In [7]:
df_X_test = pd.read_csv('x_regression_day.csv', header=None)
df_X_test.describe()

,0,2,3,4,5,6,7,8,9,10,11,12,13,14
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,372.163265,2.530612,0.503401,6.680272,0.013605,2.925170,0.659864,1.374150,0.489744,0.468348,0.630453,0.196190,827.374150,3637.741497
std,209.960467,1.112237,0.501698,3.473947,0.116242,2.027511,0.475374,0.526176,0.179218,0.161789,0.142663,0.078059,661.963799,1570.534850
min,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.254167,0.045404,68.000000,451.000000
25%,197.000000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.336250,0.340583,0.536250,0.135583,306.000000,2419.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.494167,0.476638,0.626667,0.192167,686.000000,3628.000000
75%,570.000000,3.500000,1.000000,10.000000,0.000000,4.000000,1.000000,2.000000,0.633333,0.595348,0.733542,0.243563,1045.000000,4659.000000
max,729.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.815833,0.826371,0.922500,0.417908,3252.000000,6946.000000

In [10]:
df_y_test = pd.read_csv('y_regression_day.csv', header=None)
df_y_test.describe()

                 0
count   147.000000
mean   4465.115646
std    1876.932336
min     754.000000
25%    2974.500000
50%    4539.000000
75%    5826.000000
max    8167.000000

In [11]:
X_test = df_X_test.iloc[:, 2:-2].values
y_test = df_y_test.values

In [12]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
sc.fit(X_train)
X_test = sc.transform(X_test)
X_train = sc.transform(X_train)

In [13]:
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(hidden_layer_sizes=(200,), max_iter=20000)
mlp.fit(X_train, y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(200,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=20000,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [14]:
print(f'Training accuracy {mlp.score(X_train, y_train)}')
print(f'Test accuracy {mlp.score(X_test, y_test)}')

Training accuracy 0.9042715472237055
Test accuracy -17.60531731859016

In [15]:
from sklearn.metrics import mean_squared_error

mean_squared_error(mlp.predict(X_test), y_test)

65098328.165590815