In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('clustering.csv', header=None)
df.describe()

               0          1          2          3          4
count  80.000000  80.000000  80.000000  80.000000  80.000000
mean    0.340813   0.319675   0.416000   0.396500   0.407125
std     0.200548   0.194361   0.243168   0.242764   0.228369
min     0.000000   0.060000   0.030000   0.050000   0.040000
25%     0.180000   0.150000   0.207500   0.247500   0.240000
50%     0.295000   0.280000   0.395000   0.310000   0.320000
75%     0.497500   0.467500   0.582500   0.605000   0.582500
max     0.800000   0.790000   0.950000   0.970000   0.960000

In [4]:
X = df.values

In [5]:
from sklearn.cluster import AgglomerativeClustering

cls = AgglomerativeClustering(n_clusters=2, linkage='average')
cls.fit(X)

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
                        connectivity=None, distance_threshold=None,
                        linkage='average', memory=None, n_clusters=2)

In [6]:
from sklearn.metrics import davies_bouldin_score

davies_bouldin_score(X, cls.labels_)

1.3502721664850346

In [7]:
from sklearn.metrics import silhouette_score

silhouette_score(X, cls.labels_)

0.2639118172049398